# BasedOnStyle:  LLVM
AccessModifierOffset: 0
AlignArrayOfStructures: Left
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Left
AlignOperands:   AlignAfterOperator
AllowShortEnumsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: Never
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakInheritanceList: AfterComma
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 3
ContinuationIndentWidth: 3
IndentAccessModifiers: true
IndentCaseLabels: true
IndentWidth:     3
ObjCBlockIndentWidth: 3
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: false
BitFieldColonSpacing: After
TabWidth:        3
