---
Checks:   '-*,
           clang-analyzer-*,
           clang-analyzer-core.*,
           clang-analyzer-cplusplus.*,
           clang-diagnostic-*,
           cppcoreguidelines-narrowing-conversions,
           modernize-use-bool-literals,
           modernize-use-equals-default,
           modernize-use-nullptr,
           modernize-use-override,
           modernize-redundant-void-arg,
           google-explicit-constructor,
           google-readability-casting,
           readability-braces-around-statements,
           readability-identifier-naming,
           readability-non-const-parameter,
           cert-dcl21-cpp,
           bugprone-bool-pointer-implicit-conversion,
           bugprone-branch-clone,
           bugprone-dangling-handle,
           bugprone-dynamic-static-initializers,
           bugprone-forward-declaration-namespace,
           bugprone-infinite-loop,
           bugprone-integer-division,
           bugprone-macro-parentheses,
           bugprone-macro-repeated-side-effects,
           bugprone-misplaced-operator-in-strlen-in-alloc,
           bugprone-misplaced-widening-cast,
           bugprone-multi-level-implicit-pointer-conversion,
           bugprone-undefined-memory-manipulation,
           bugprone-undelegated-constructor,
           bugprone-unhandled-exception-at-new,
           bugprone-unhandled-self-assignment,
           bugprone-unused-return-value,
           bugprone-use-after-move,
           bugprone-virtual-near-miss,
           misc-unconventional-assign-operator,
           misc-unused-parameters'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  bugprone-misplaced-widening-cast.CheckImplicitCasts: 'true'
  cppcoreguidelines-narrowing-conversions.WarnOnIntegerNarrowingConversion: 'true'
  cppcoreguidelines-narrowing-conversions.WarnOnIntegerToFloatingPointNarrowingConversion: 'true'
  cppcoreguidelines-narrowing-conversions.WarnOnFloatingPointNarrowingConversion: 'true'
  cppcoreguidelines-narrowing-conversions.WarnWithinTemplateInstantiation: 'true'
  cppcoreguidelines-narrowing-conversions.WarnOnEquivalentBitWidth: 'true'
  cppcoreguidelines-narrowing-conversions.PedanticMode: 'true'
  google-readability-braces-around-statements.ShortStatementLines: '1'
  google-readability-function-size.StatementThreshold: '800'
  google-readability-namespace-comments.ShortNamespaceLines: '10'
  google-readability-namespace-comments.SpacesBeforeComments: '3'
  llvm-else-after-return.WarnOnConditionVariables: 'true'
  llvm-else-after-return.WarnOnUnfixable: 'false'
  readability-braces-around-statements.ShortStatementLines: '0'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ClassConstantCase: 'camelBack'
  readability-identifier-naming.ClassConstantPrefix: '_'
  readability-identifier-naming.ClassMemberCase: 'camelBack'
  readability-identifier-naming.ClassMemberPrefix: '_'
  readability-identifier-naming.ClassMethodCase: 'camelBack'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.EnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.FunctionCase: 'camelBack'
  readability-identifier-naming.LocalConstantCase: 'lower_case'
  readability-identifier-naming.LocalVariableCase: 'lower_case'
  readability-identifier-naming.LocalPointerCase: 'lower_case'
  readability-identifier-naming.MemberCase: 'camelBack'
  readability-identifier-naming.MemberPrefix: '_'
  readability-identifier-naming.NamespaceCase: 'CamelCase'
  readability-identifier-naming.ParameterCase: 'lower_case'
  readability-identifier-naming.StaticConstantCase: 'Camel_Snake_Case'
  readability-identifier-naming.StaticVariableCase: 'Camel_Snake_Case'
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.TypedefCase: 'CamelCase'
...
